<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.logistics.riftvalley">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.StockMovements.Transfers.GradeReclassification"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.logistics.riftvalley.inventory.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- Internet Broadcast Receiver -->
        <receiver android:name=".Utilities.InternetBroadcastReceiver.InternetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Utilities.NewlandScanningReceiver.ScanReceiver">
            <intent-filter>
                <action android:name="nlscan.action.SCANNER_RESULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.Login.LoginActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".App.HomeDashboardActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.StockMovements.WarehouseLocations_Movements"
            android:parentActivityName=".App.HomeDashboardActivity" />
        <activity
            android:name=".ui.StockMovements.Movement_Dashboard"
            android:parentActivityName=".ui.StockMovements.WarehouseLocations_Movements" />
        <activity
            android:name=".ui.NewInventory.WarehouseName_CodeList"
            android:parentActivityName=".App.HomeDashboardActivity" />
        <activity
            android:name=".ui.NewInventory.ScanNewInventory"
            android:parentActivityName=".ui.NewInventory.WarehouseName_CodeList" />
        <activity
            android:name=".ui.StockMovements.Sale.SaleLandingPage"
            android:parentActivityName=".ui.StockMovements.Movement_Dashboard" />
        <activity
            android:name=".ui.StockMovements.Transfers.CheckIn"
            android:parentActivityName=".ui.StockMovements.Movement_Dashboard" />
        <activity
            android:name=".ui.StockMovements.Transfers.CheckOut"
            android:parentActivityName=".ui.StockMovements.Movement_Dashboard" />
        <activity
            android:name=".ui.StockMovements.Transfers.Transfers_LandingPage"
            android:parentActivityName=".ui.StockMovements.Movement_Dashboard" />
        <activity
            android:name=".ui.StockMovements.ProductionReturn.ProductionReturn"
            android:parentActivityName=".ui.StockMovements.Movement_Dashboard" />
        <activity
            android:name=".ui.StockMovements.StockDisposals.StockDisposals"
            android:parentActivityName=".ui.StockMovements.Movement_Dashboard" />
        <activity android:name=".ui.StockMovements.Sale.Dispatch" />
        <activity android:name=".ui.StockMovements.Sale.MoveToDispatch" />
        <activity android:name=".ui.StockMovements.Sale.MoveToFumigation" />
        <activity android:name=".ui.StockMovements.Transfers.WarehouseCheckOutLocationsList" />
        <activity android:name=".ui.StockMovements.Transfers.InWarehouse" />
        <activity android:name=".ui.StockMovements.Transfers.MoveToDispatch" />
        <activity
            android:name=".ui.StockMovements.Transfers.CheckOutLandingPage"
            android:parentActivityName=".ui.StockMovements.Transfers.Transfers_LandingPage" />
        <activity android:name=".ui.StockMovements.Sale.SalesOrdersView" />
        <activity android:name=".ui.StockMovements.Sale.PicturesPackage.PicturesView" />
        <activity android:name=".ui.StockMovements.Sale.PicturesPackage.Caption" />
        <activity android:name=".ui.StockMovements.Sale.PicturesPackage.ViewPicture" />
        <activity android:name=".ui.StockMovements.Sale.PicturesPackage.PicturesList" />
        <activity android:name=".App.PicturesNotUploadedList" />
        <activity
            android:name=".Utilities.NoConnection"
            android:launchMode="singleTop" />
    </application>

</manifest>